APP_URL=http://localhost:3000

NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=secretsupersecret12345

# DB
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=unicap

# Reset Password
RESET_PASSWORD_TOKEN_MINUTES=20
RESET_PASSWORD_MAX_ATTEMPTS_PER_DAY=3

# Captcha
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
CAPTCHA_PASS_TOKEN=1a6f5a9772524acd49sdlkfjkl232lkdf90a14942lsjd7b80d38382dbfb7bced6


# Emails
SMTP_PORT=465
SMTP_SERVER=smtppro.zoho.eu
SMTP_EMAIL=support@something.com
SMTP_PASSWORD=9sfjl123j98
